<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: commonheader(~{::title},~{::link})">
    <title>归档</title>
    <link rel="stylesheet" href="#">
</head>
<body>
<!--导航部分-->
<div th:replace="common :: commonnav(4)"></div>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--                ---------Header------->
        <div class="ui large m-padded-tb-large segment">
            <div class="ui middle aligned two column grid ">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin">14</h2>篇博客
                </div>
            </div>
        </div>
        <!--2021年-->
        <div class="m-margin-large">
            <h2 class="ui center aligned header">2021</h2>
            <div class="ui vertical fluid menu">
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
            </div>
        </div>
        <div class="m-margin-large">
            <h2 class="ui center aligned header">2021</h2>
            <div class="ui vertical fluid menu">
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
            </div>
        </div>
        <div class="m-margin-large">
            <h2 class="ui center aligned header">2021</h2>
            <div class="ui vertical fluid menu">
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
            </div>
        </div>
        <div class="m-margin-large">
            <h2 class="ui center aligned header">2021</h2>
            <div class="ui vertical fluid menu">
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
            </div>
        </div>
        <div class="m-margin-large">
        <h2 class="ui center aligned header">2021</h2>
        <div class="ui vertical fluid menu">
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
        </div>
    </div>
        <div class="m-margin-large">
            <h2 class="ui center aligned header">2021</h2>
            <div class="ui vertical fluid menu">
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
            </div>
        </div>
        <div class="m-margin-large">
        <h2 class="ui center aligned header">2021</h2>
        <div class="ui vertical fluid menu">
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
            <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
            </a>
        </div>
    </div>
        <div class="m-margin-large">
            <h2 class="ui center aligned header">2021</h2>
            <div class="ui vertical fluid menu">
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
                <a href="#" target="_blank" class="ui item">
                <span>
                    第一篇博客
                    <div class="ui basic teal left pointing m-padded-mini mini label">8月6日</div>
                </span>
                    <div class="ui basic orange left pointing m-padded-mini mini label">原创</div>
                </a>
            </div>
        </div>


    </div>


</div>
<!--引入footer-->
<div th:replace="common :: commonfooter"></div>
<!--/*/<th:block th:replace="common :: script">/*/-->
<!--/*/</th:block>/*/-->
</body>
</html>