<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.dao.BlogMapper">
    <!--使用insert,update,delete,select标签写sql语句-->

    <select id="queryConditional" resultType="com.myblog.entity.Blog">
        select * from t_blog
        <where>
            <if test="title!=null and title!='' ">
                and title like % #{title} %
            </if>
            <if test="typeId!=null and typeId!='' ">
                and type.id =#{typeId}
            </if>
            <if test="title!=null and title!='' ">
                and recommend=#{recommend}
            </if>

        </where>
    </select>


</mapper>
